body {
  background: #111;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  color: white;
}

h1 {
  margin-top: 40px;
}

.Flower {
  position: relative;
  width: 50px;
  height: 100px;
  margin: 60px auto;
  background: green;
  border-radius: 10px;
}

/* برگ گل */
.Flower::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: #a52a2a;
  border-radius: 50% 50% 0 0;
  top: -50px;
  left: -5px;
  box-shadow:
    0 -10px 0 #a52a2a,
    0 -20px 0 #a52a2a;
}
